<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>404</title>
</head>
<body>
<div class="container-jumbotron m-5">
<h1 class="text-danger m-5 text-justify text-center">ERROR 404</h1>
<h3 class="d-block p-2 bg-danger text-dark">Lamento essa pagina não esta ativa no momento tente novamente, clicando abaixo </h3>
<form class="text-justify text-center" action="https://google.com">
    <input type="submit" value="CLIQUE AQUI" />
</form>
</div>
</body>
</html>